@use '../styles/partials/variables' as *;

* {
    box-sizing: border-box;
    &::before {
      box-sizing: border-box;
    }
    &::after {
      box-sizing: border-box;
    }
}
  
body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}

input {
  font-family: "Rubik", sans-serif;  

  &::placeholder {
    font-family: "Rubik", sans-serif;
  }
}

