@use '../styles/partials/variables' as *;

* {
    box-sizing: border-box;
    &::before {
      box-sizing: border-box;
    }
    &::after {
      box-sizing: border-box;
    }
}
  
body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

input {
  font-family: "Rubik";
  font-weight: 500;  

  &::placeholder {
    font-family: "Rubik";
    font-weight: 500;
  }
}

