@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    background-image: url('../../assets/images/pattern-bg-desktop.png');
    padding: 2rem;
    text-align: center;

    &__title {
        font-size: 1rem;
        color: $white;
    }
}